{% extends 'base.html.twig' %}
{% block title %}Computometrico {% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-11">
                <h3>Preventivi <small>Computometrico</small></h3>
            </div>
            <div class="col-1">
                <div class="btn-group float-right">
                    <a href="" class="btn btn-danger btn-sm float-right">
                        <i class="mdi mdi-delete mr-0"></i>
                    </a>
                    <a href="" class="btn btn-secondary btn-sm float-right ">
                        <i class="mdi mdi-pencil mr-0"></i>
                    </a>
                    <a href="" class="btn btn-success btn-sm float-right" id="print">
                        <i class="mdi mdi-printer mr-0"></i>
                    </a>
                </div>
            </div>
        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover border-o">
                                <thead>
                                    <tr>
                                        <th class="no-wrap border">ARTICOLO</th>
                                        <th class="border" style="max-width: 300px">DESCRIZIONE</th>
                                        <th class="no-wrap border">QUANTITÁ</th>
                                        <th class="no-wrap border">PREZZO NETTO UNITARIO</th>
                                        <th class="no-wrap border">PREZZO NETTO TOTALE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="border table-light"><strong>PUNTI LUCE – COMANDO - PRESA</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Punti Luce</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.1.12.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                            P.to luce semplice su canalizzazione in traccia o in vista <br>
                                            con un cavo non propagante l'incendio con sezione minima 1,5 mmq. <br>
                                            <strong>Per P.to luce con conduttore di protezione.</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPL }}</td>
                                        <td class="border text-center">22.20</td>
                                        <td class="border text-center">{{ qtyPL * 22.20 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.1.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Canalizzazione per <strong>P.to luce in traccia</strong> per distanza non superiori a 60mt. <br>
                                                Sono esclusi i conduttori e le opere murarie.
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPL }}</td>
                                        <td class="border text-center">11.80</td>
                                        <td class="border text-center">{{ qtyPL * 11.80 }}</td>
                                    </tr>
                                        {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 0 %}
                                        <tr>
                                            <td class="border text-center">15.1.3.1</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per P.to luce per opere murarie su murature <strong>NON Intonacate.</strong> <br>
                                                    Sono esclusi: l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPL }}</td>
                                            <td class="border text-center">5.60</td>
                                            <td class="border text-center">{{ qtyPL * 5.60 }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if item.opereMurarieIntonaco == 1 and item.opereMurariePietra == 0 %}
                                        <tr>
                                            <td class="border text-center">15.1.4.1</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per P.to luce per opere murarie su murature <strong>Intonacate.</strong> <br>
                                                    Sono esclusi: l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPL }}</td>
                                            <td class="border text-center">14.90</td>
                                            <td class="border text-center">{{ qtyPL * 14.90 }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if item.opereMurariePietra == 1 %}
                                            <tr>
                                                <td class="border text-center">15.1.5.1</td>
                                                <td class="text-small border" style="max-width: 300px">
                                                    <small>
                                                        Incremento alla canalizzazione per P.to luce per opere murarie su murature in <strong>mattone pieno, calcestruzzo o pietra.</strong> <br>
                                                        Sono esclusi: l'intonaco, la rasatura e la tinteggiatura
                                                    </small>
                                                </td>
                                                <td class="border text-center">{{ qtyPL }}</td>
                                                <td class="border text-center">26.90</td>
                                                <td class="border text-center">{{ qtyPL * 26.90 }}</td>
                                            </tr>
                                        {% endif %}
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Punti di Comando</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.1.15.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                P.to di comando su canalizzazione in traccia o in vista
                                                con un cavo non propagante l'incendio <br>
                                                <strong>Per P.to di comando.</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPC }}</td>
                                        <td class="border text-center">9.90</td>
                                        <td class="border text-center">{{ qtyPC * 9.90 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.1.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Canalizzazione per <strong>P.to di comando in traccia</strong> per distanza non superiori a 60mt. <br>
                                                Sono esclusi i conduttori e le opere murarie.
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPC }}</td>
                                        <td class="border text-center">6.30</td>
                                        <td class="border text-center">{{ qtyPC * 6.30 }}</td>
                                    </tr>
                                    {#<tr>
                                        <td class="border text-center">15.1.15.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Punto di comando aggiuntivo sulla stessa scatola. Per P.to di comando aggiuntivo
                                            </small>
                                        </td>
                                        <td class="border text-center">-</td>
                                        <td class="border text-center">9.00</td>
                                        <td class="border text-center">-</td>
                                    </tr>#}
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 0 %}
                                        <tr>
                                            <td class="border text-center">15.1.3.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature <br>
                                                    <strong>NON Intonacate.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPC }}</td>
                                            <td class="border text-center">3.10</td>
                                            <td class="border text-center">{{ qtyPC * 3.10 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurarieIntonaco == 1 and item.opereMurariePietra == 0 %}
                                        <tr>
                                            <td class="border text-center">15.1.4.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature <br>
                                                    <strong>Intonacate.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPC }}</td>
                                            <td class="border text-center">10.60</td>
                                            <td class="border text-center">{{ qtyPC * 10.60 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurariePietra == 1 %}
                                        <tr>
                                            <td class="border text-center">15.1.5.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature in <br>
                                                    <strong>mattone pieno, calcestruzzo pietra.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPC }}</td>
                                            <td class="border text-center">13.40</td>
                                            <td class="border text-center">{{ qtyPC * 13.40 }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Punti Presa</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.2.21.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                P.to allaccio per presa monofase su canalizzazione in traccia o in vista <br>
                                                con cavo non propagante l'incendio di sezione idonea<br>
                                                <strong>Per allaccio monofase con carico massimo di 16A.</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPP }}</td>
                                        <td class="border text-center">26.20</td>
                                        <td class="border text-center">{{ qtyPP * 26.20 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.2.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Canalizzazione per <strong>P.to Presa in traccia</strong> per distanza non superiori a 60 mt. <br>
                                                Sono esclusi i conduttori e le opere murarie<br>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPP }}</td>
                                        <td class="border text-center">13.80</td>
                                        <td class="border text-center">{{ qtyPP * 13.80 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.2.41.3</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Punto presa elettrica da collegare alla linea di alimentazione compensata a parte come allaccio elettrico. <br>
                                                Pt.o presa elettrica 2P+T 10/16A + UNEL. (Schuko Bipasso)<br>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPP }}</td>
                                        <td class="border text-center">12.60</td>
                                        <td class="border text-center">{{ qtyPP * 12.60 }}</td>
                                    </tr>
                                    {#<tr>
                                        <td class="border text-center">15.2.41.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Presa elettrica aggiuntiva sulla stessa scatola 2P+T 10A o 16A o 10/16A (Bipresa) <br>
                                            </small>
                                        </td>
                                        <td class="border text-center">-</td>
                                        <td class="border text-center">4.80</td>
                                        <td class="border text-center">-</td>
                                    </tr>#}
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 0 %}
                                        <tr>
                                            <td class="border text-center">15.2.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature <br>
                                                    <strong>NON Intonacate.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPP }}</td>
                                            <td class="border text-center">5.70</td>
                                            <td class="border text-center">{{ qtyPP * 5.70 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurarieIntonaco == 1 and item.opereMurariePietra == 0 %}
                                        <tr>
                                            <td class="border text-center">15.2.3</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature <br>
                                                    <strong>Intonacate.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPP }}</td>
                                            <td class="border text-center">15.30</td>
                                            <td class="border text-center">{{ qtyPP * 15.30 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurariePietra == 1 %}
                                        <tr>
                                            <td class="border text-center">15.2.4</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to di comando per opere murarie su murature in <br>
                                                    <strong>mattone pieno, calcestruzzo pietra.</strong> Sono esclusi l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPP }}</td>
                                            <td class="border text-center">27.20</td>
                                            <td class="border text-center">{{ qtyPP * 27.20 }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td colspan="5" class="border table-light"><strong>SERVIZI</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Impianto TV terrestre</i></td>
                                    </tr>
                                    {% if item.antenna != 0 %}
                                    <tr>
                                        <td class="border text-center">15.3.151.2</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Impianto di ricezione di segnale TV digitale terrestre <strong>costituito da antenna di ricezione TV in <br>
                                                banda UHF o VHF</strong>, idonea alla ricezione di segnale TV digitale terrestre con guadagno <br>
                                                compreso superiore a 13 dB,  con possibilità di installazione con polarizzazione verticale o <br>
                                                orizzontale, <strong>completa di palo e di sistemi di fissaggio su tetto o su copertura piana di <br>
                                                qualsiasi natura, di cavi di collegamento fino all'impianto di amplificazione.</strong> Il tutto posto in <br>
                                                opera a qualsiasi altezza, con tutto quanto occorre per dare il lavoro finito , incluse le eventuali <br>
                                                opere murarie per il fissaggio ed il ripristino di eventuali parti  di copertura interessate. <br>
                                                <strong>Sistema con due antenne</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">1</td>
                                        <td class="border text-center">331.00</td>
                                        <td class="border text-center">331.00</td>
                                    </tr>
                                        {% if qtyPT < 5 %}
                                            <tr>
                                                <td class="border text-center">15.3.162.1</td>
                                                <td class="text-small border" style="max-width: 300px">
                                                    <small>
                                                        Amplificatore da palo per segnale TV digitale terrestre, per banda larga UHF - VHF, completo di <br>
                                                        alimentatore e quota di cavo a basse perdite per linea montante su canalizzazione predisposta, <br>
                                                        per la distribuzione del segnale derivato dalle antenne di ricezione, fino ai partitori. Posto in <br>
                                                        opera su palo o all'interno completo degli accessori necessari per dare l'opera finita e <br>
                                                        funzionante. <strong>Per alimentazione  fino a 5 prese</strong>
                                                    </small>
                                                </td>
                                                <td class="border text-center">1</td>
                                                <td class="border text-center">176.00</td>
                                                <td class="border text-center">176.00</td>
                                            </tr>
                                        {% elseif qtyPT > 6 and qtyPT < 10 %}
                                            <tr>
                                                <td class="border text-center">15.3.162.2</td>
                                                <td class="text-small border" style="max-width: 300px">
                                                    <small>
                                                        Amplificatore da palo per segnale TV digitale terrestre, per banda larga UHF - VHF, completo di <br>
                                                        alimentatore e quota di cavo a basse perdite per linea montante su canalizzazione predisposta, <br>
                                                        per la distribuzione del segnale derivato dalle antenne di ricezione, fino ai partitori. Posto in <br>
                                                        opera su palo o all'interno completo degli accessori necessari per dare l'opera finita e <br>
                                                        funzionante. <strong>Per alimentazione da 6 a 10 prese</strong>
                                                    </small>
                                                </td>
                                                <td class="border text-center">1</td>
                                                <td class="border text-center">253.00</td>
                                                <td class="border text-center">253.00</td>
                                            </tr>
                                        {% elseif qtyPT > 11 and qtyPT < 15 %}
                                            <tr>
                                                <td class="border text-center">15.3.162.3</td>
                                                <td class="text-small border" style="max-width: 300px">
                                                    <small>
                                                        Amplificatore da palo per segnale TV digitale terrestre, per banda larga UHF - VHF, completo di <br>
                                                        alimentatore e quota di cavo a basse perdite per linea montante su canalizzazione predisposta, <br>
                                                        per la distribuzione del segnale derivato dalle antenne di ricezione, fino ai partitori. Posto in <br>
                                                        opera su palo o all'interno completo degli accessori necessari per dare l'opera finita e <br>
                                                        funzionante. <strong>Per alimentazione da 11 a 15 prese</strong>
                                                    </small>
                                                </td>
                                                <td class="border text-center">1</td>
                                                <td class="border text-center">333.00</td>
                                                <td class="border text-center">333.00</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                    <tr>
                                        <td class="border text-center">15.3.110.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Incremento al punto presa di servizio per <strong>presa di ricezione TV terrestre</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyPT }}</td>
                                        <td class="border text-center">41.00</td>
                                        <td class="border text-center">{{ qtyPT * 41 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.4.230.0</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Cavo coassiale per impianti di antenna TV  al metro per linea dorsale
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ calcTVCable }}</td>
                                        <td class="border text-center">3.20</td>
                                        <td class="border text-center">{{ calcTVCable  * 3.20}}</td>
                                    </tr>
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 0 %}
                                        <tr>
                                            <td class="border text-center">15.3.20.1</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to presa di servizio per opere murarie su murature NON Intonacate. <br>
                                                    Sono esclusi: l’intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPT }}</td>
                                            <td class="border text-center">8</td>
                                            <td class="border text-center">{{ qtyPT  * 8}}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 1  %}
                                        <tr>
                                            <td class="border text-center">15.3.20.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to presa di servizio per opere murarie su murature Intonacate. <br>
                                                    Sono esclusi: l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPT }}</td>
                                            <td class="border text-center">12.9</td>
                                            <td class="border text-center">{{ qtyPT * 12.9 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurariePietra == 1 %}
                                        <tr>
                                            <td class="border text-center">15.3.20.32</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Maggiorazione per opere murarie su muratura in mattone pieno, calcestruzzo o pietra.
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPT }}</td>
                                            <td class="border text-center">12.1</td>
                                            <td class="border text-center">{{ qtyPT  * 12.1}}</td>
                                        </tr>
                                    {% endif %}
                                    {% if qtyTR != 0 %}
                                        <tr>
                                            <td colspan="5" class="border table-light"><i>Impianto chiamata emergenza con tiranti dal bagno e delle camere da letto</i></td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.3.40.1</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento al punto presa di servizio per <strong>impianto di chiamata</strong>
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyTR }}</td>
                                            <td class="border text-center">89.00</td>
                                            <td class="border text-center">{{ qtyTR * 89.00 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.3.90.0</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento al punto presa di servizio per segnalatore acustico di tipo a <strong>ronzatore per EMERGENZE</strong>
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyTR }}</td>
                                            <td class="border text-center">20.00</td>
                                            <td class="border text-center">{{ qtyTR * 20.00 }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Impianto Telefonico</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.3.210.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Incremento al punto presa di servizio per <strong>presa telefonica</strong> con presa ad 1 coppia
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyTP }}</td>
                                        <td class="border text-center">26.20</td>
                                        <td class="border text-center">{{ qtyTP * 26.20 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.4.210.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Linea telefonica in cavo multicoppie a 2 coppie al metro per linea dorsale
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ calcTPCable|number_format(0) }}</td>
                                        <td class="border text-center">1.70</td>
                                        <td class="border text-center">{{ (calcTPCable * 1.70)|number_format(1) }}</td>
                                    </tr>
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 0 %}
                                        <tr>
                                            <td class="border text-center">15.3.20.1</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to presa di servizio per opere murarie su murature NON Intonacate. <br>
                                                    Sono esclusi: l’intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyTP }}</td>
                                            <td class="border text-center">8</td>
                                            <td class="border text-center">{{ qtyTP  * 8}}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurarie == 1 and item.opereMurarieIntonaco == 1  %}
                                        <tr>
                                            <td class="border text-center">15.3.20.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento alla canalizzazione per p.to presa di servizio per opere murarie su murature Intonacate. <br>
                                                    Sono esclusi: l'intonaco, la rasatura e la tinteggiatura
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPT }}</td>
                                            <td class="border text-center">12.9</td>
                                            <td class="border text-center">{{ qtyPT * 12.9 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.opereMurariePietra == 1 %}
                                        <td class="border text-center">15.3.20.3</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Maggiorazione per opere murarie su muratura in mattone pieno, calcestruzzo o pietra.
                                            </small>
                                        </td>
                                        <td class="border text-center">{{ qtyTP }}</td>
                                        <td class="border text-center">12.1</td>
                                        <td class="border text-center">{{ (qtyTP * 12.10)|number_format(1)}}</td>
                                    {% endif %}
                                    {% if item.campanello != 0 %}
                                        <tr>
                                            <td colspan="5" class="border table-light">Segnalatore Acustico</td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.3.80.4</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento al punto presa di servizio per impianto di comando di suoneria. Con pulsante <br>
                                                    con targa.
                                                </small>
                                            </td>
                                            <td class="border text-center">1</td>
                                            <td class="border text-center">28</td>
                                            <td class="border text-center">28</td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.3.90</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Incremento al punto presa di servizio per segnalatore acustico di tipo a <strong> SUONERIA</strong>
                                                </small>
                                            </td>
                                            <td class="border text-center">1</td>
                                            <td class="border text-center">20</td>
                                            <td class="border text-center">20</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td colspan="5" class="border table-light">Impianto Citofonico o Videocitofonico</td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">15.3.52.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Incremento al punto presa di servizio per <strong>impianto citofonico o videocitofonico, sistema a 2 fili.
                                                    Per impianto base fino a 26 interni.</strong>
                                            </small>
                                        </td>
                                        <td class="border text-center">2</td>
                                        <td class="border text-center">96</td>
                                        <td class="border text-center">192</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><strong>IMPIANTO DI RISCALDAMENTO</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Allaccio TERMOSTATI </i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">13.21.10.0</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Collegamento elettrico di regolazione di impianti tecnologici, eseguito sottotraccia <br>
                                                per alimentare dal quadro elettrico di centrale o di zona una apparecchiatura di regololazione<br>
                                                (<strong>termostato</strong>, umidostato, flussostato, sonda di temperatura, pressostato, ecc.)
                                            </small>
                                        </td>
                                        <td class="border text-center">1</td>
                                        <td class="border text-center">100</td>
                                        <td class="border text-center">100</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Allaccio CALDAIA o POMPA DI CALORE</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">13.21.40.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Collegamento elettrico di potenza di apparecchiature tecnologiche, eseguito sottotraccia,<br>
                                                per alimentare dal quadro elettrico di centrale o di zona, una apparecchiatura di potenza <br>
                                                (<strong>bruciatore</strong>, elettropompa, compressore, aerotermo, unità termoventilante, aspiratore, ventilconvettore, ecc.)
                                            </small>
                                        </td>
                                        <td class="border text-center">1</td>
                                        <td class="border text-center">113</td>
                                        <td class="border text-center">113</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><i>Allaccio collettori</i></td>
                                    </tr>
                                    <tr>
                                        <td class="border text-center">13.21.10.1</td>
                                        <td class="text-small border" style="max-width: 300px">
                                            <small>
                                                Collegamento elettrico di regolazione di impianti tecnologici, eseguito sottotraccia per alimentare <br>
                                                dal quadro elettrico di centrale o di zona una apparecchiatura di regololazione (termostato, umidostato,<br>
                                                flussostato, sonda di temperatura, pressostato, ecc.)
                                            </small>
                                        </td>
                                        <td class="border text-center">1</td>
                                        <td class="border text-center">100</td>
                                        <td class="border text-center">100</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="border table-light"><strong>IMPIANTO DI MESSA A TERRA</strong></td>
                                    </tr>
                                    {% if item.spd == "1" %}
                                        {% dump(item.spd) %}
                                        <tr>
                                            <td class="border text-center">15.7.202</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Scaricatore per corrente di fulmine N-PE  SPD Tipo 1
                                                </small>
                                            </td>
                                            <td class="border text-center">1</td>
                                            <td class="border text-center">191</td>
                                            <td class="border text-center">191</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="border text-center">15.7.201.2</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Limitatore di sovratensioni (SPD) Tipo 2. Quadripolare per reti TT (esecuzione 3+1).
                                                </small>
                                            </td>
                                            <td class="border text-center">1</td>
                                            <td class="border text-center">239</td>
                                            <td class="border text-center">239</td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.7.204.4</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Scaricatore per corrente di fulmine N-PE SPD Tipo 2
                                                </small>
                                            </td>
                                            <td class="border text-center">1</td>
                                            <td class="border text-center">125</td>
                                            <td class="border text-center">125</td>
                                        </tr>
                                    {% endif %}
                                    {% if item.level == 3 %}
                                        <tr>
                                            <td colspan="5" class="border table-light"><strong>Relè Passo Passo ed alimentatori già suddivisi per piano: NECESSARI PER LA GESTIONE DELL'ILLUMINAZIONE IN BASSA TENSIONE</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.6.170.31</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Apparecchi modulari da inserire su quadro elettrico con attacco DIN, forniti e posti in opera.<br>
                                                    Sono compresi: il cablaggio, gli accessori, il montaggio, E’ compreso quanto altro occorre per dare <br>
                                                    il lavoro finito. E’ esclusa la quota di carpenteria. Relè passo-passo 1 contatto 16A
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ qtyPL }}</td>
                                            <td class="border text-center">27</td>
                                            <td class="border text-center">{{ qtyPL * 27 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="border text-center">15.6.170.44</td>
                                            <td class="text-small border" style="max-width: 300px">
                                                <small>
                                                    Apparecchi modulari da inserire su quadro elettrico con attacco DIN, forniti e posti in opera.<br>
                                                    Sono compresi: il cablaggio, gli accessori, il montaggio, E’ compreso quanto altro occorre per dare<br>
                                                    il lavoro finito. E’ esclusa la quota di carpenteria. Trasformatore BTS secondario 24V 40VA
                                                </small>
                                            </td>
                                            <td class="border text-center">{{ item.pianiCasa }}</td>
                                            <td class="border text-center">40</td>
                                            <td class="border text-center">{{ item.pianiCasa * 40 }}</td>
                                        </tr>
                                    {% endif %}
                                    <!-- TOTALI -->
                                    <tr>
                                        <td colspan="3" class="border-0"></td>
                                        <td class="border">SUBTOTALE</td>
                                        <td class="border text-center">
                                            {{ total|round('2') }} €
                                        </td>
                                    </tr>
                                    {% if sconto != 0 %}
                                        <tr>
                                            <td colspan="3" class="border-0"></td>
                                            <td class="border">SCONTO {{ item.sconto }}%</td>
                                            <td class="border text-center">
                                                {{ sconto|round('2') }} €
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="border-0"></td>
                                            <td class="border"><strong>TOTALE SCONTATO</strong></td>
                                            <td class="border text-center">
                                                <strong>{{ (total - sconto)|round('2') }} €</strong>
                                            </td>
                                        </tr>
                                    {% else %}
                                            <tr>
                                                <td colspan="3" class="border-0"></td>
                                                <td class="border"><strong>TOTALE</strong></td>
                                                <td class="border text-center">
                                                    <strong>{%  set grandtotal = total + vat - sconto %} {{ grandtotal|round('2') }} €</strong>
                                                </td>
                                            </tr>
                                    {% endif %}
                                    {#<tr>
                                        <td colspan="3" class="border-0"></td>
                                        <td class="border">IVA 22%</td>
                                        <td class="border text-center">
                                            {{ vat|round('2') }} €
                                        </td>
                                    </tr>#}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <style>
        .no-wrap {
            max-width: 130px;
            width: 130px;
            white-space: pre-wrap!important; /* css-3 */
            white-space: -moz-pre-wrap!important; /* Mozilla, since 1999 */
            white-space: -pre-wrap!important; /* Opera 4-6 */
            white-space: -o-pre-wrap!important; /* Opera 7 */
            word-wrap: break-word!important; /* Internet Explorer 5.5+ */
        }
        .description {
            max-width: 300px;
            white-space: pre-wrap!important; /* css-3 */
            white-space: -moz-pre-wrap!important; /* Mozilla, since 1999 */
            white-space: -pre-wrap!important; /* Opera 4-6 */
            white-space: -o-pre-wrap!important; /* Opera 7 */
            word-wrap: break-word!important; /* Internet Explorer 5.5+ */
        }
        td {
            height: 65px!important;
        }
        .text-small {
            font-size: 10px!important;
        }
    </style>
    <style type="text/css">
        {# TODO: Fix print CSS #}
        @page {
            size: landscape;
            margin: 0; }
        @media print {
            * {
                font-size: 0.9em!important;
            }
            .footer {
                display: none;
            }
            .sf-toolbar {
                display: none;
            }
            .top-title {
                display: none;
            }
            .navbar {
                display: none;
            }
            .navbar-toggler {
                display: none;
            }
            .nav-hide-btn {
                display: none;
            }
            .title-dettagli {
                display: none;
            }
            .ambient-td {
                display: none;
            }
            .ambient-th {
                display: none;
            }
            a {
                text-decoration: none!important;
                color: #000000!important;
            }
            .card-grey {
                border: 1px solid #EEEEEE!important;
            }
            .card {
                padding: 0!important;
                margin: 0!important;
            }
            .table-header {
                background-color: #EEEEEE!important;
            }
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#nav-hide-btn-icon').trigger('click');
        });
        $('#print').click(function(e) {
            e.preventDefault();
            window.print();
            return false;
        })
    </script>
{% endblock %}