{% extends 'base.html.twig' %}
{% block title %}Lista Preventivi{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mt-5">Preventivi <small>Lista</small></h3>
            </div>
            <div class="col-lg-6 grid-margin stretch-card mb-3 float-right">
                <div class="card">
                    <div class="card-body">
                        <form class="row">
                            <div class="col-2">
                                <h5 class="mt-2">Cerca</h5>
                            </div>
                            <div class="col-3">
                                <select id="searchType" class="custom-select" id="inlineFormCustomSelectPref">
                                    <option value="1">Preventivo</option>
                                    <option value="2">Cliente</option>
                                    <option value="3">Data</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <input id="searchTerms" type="text" class="form-control mt-1">
                            </div>
                            <div class="col-1">
                                <button id="searchBtn" type="submit" class="btn btn-primary mt-1">Cerca</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th>
                                            Creatore
                                        </th>
                                        {#<th>
                                            Prezzo
                                        </th>
                                        <th>
                                            Scadenza
                                        </th>#}
                                        <th style="width:200px"></th>
                                    </tr>
                                </thead>
                                <tbody id="resultTable">
                                {% for item in u_expertations %}
                                    <tr>
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td class="py-1">
                                            {{ item.date|date("d-m-Y") }}
                                        </td>
                                        <td>
                                            <a href="{{ url('vedi_clienti', { id : item.client}) }}">
                                                {{ functions.uidToName(item.client) }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ url('impostazioni_utenti') }}">
                                                {{ functions.userToName(item.createdBy) }}
                                            </a>
                                        </td>
                                        {#<td>
                                            {{ item.price }} €
                                        </td>
                                        <td>
                                            {{ item.expiration|date("d-m-Y") }}
                                        </td>#}
                                        <td style="width: 255px;">
                                            <div class="btn-group">
                                                <a href="{{ url('mostra_preventivo',{'id' : item.id}) }}" class="btn btn-primary btn-sm float-right mr-1">
                                                    <span class="mdi mdi-eye-outline"></span>
                                                </a>
                                                <a href="{{ url('modifica_preventivo', {'id' : item.id}) }}" class="btn btn-warning btn-sm float-right mr-1">
                                                    <span class="mdi mdi-table-edit"></span>
                                                </a>
                                                <a href="{{ url('preventivi_elimina' , {'id' : item.id , 'confirm' : false}) }}" class="btn btn-danger btn-sm float-right mr-1">
                                                    <span class="mdi mdi-delete"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for item in expertations %}
                                    <tr>
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td class="py-1">
                                            {{ item.date|date("d-m-Y") }}
                                        </td>
                                        <td>
                                            <a href="{{ url('vedi_clienti', { id : item.client}) }}">
                                                {{ functions.uidToName(item.client) }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ url('impostazioni_utenti') }}">
                                                {{ functions.userToName(item.createdBy) }}
                                            </a>
                                        </td>
                                        {#<td>
                                            {{ item.price }} €
                                        </td>
                                        <td>
                                            {{ item.expiration|date("d-m-Y") }}
                                        </td>#}
                                        <td style="max-width: 200px;">
                                            <div class="btn-group">
                                                <a href="{{ url('mostra_preventivo',{'id' : item.id}) }}" class="btn btn-primary btn-sm float-right">
                                                    <span class="mdi mdi-eye-outline"></span>
                                                </a>
                                                <a href="" class="btn btn-warning btn-sm float-right">
                                                    <span class="mdi mdi-table-edit"></span>
                                                </a>
                                                <a href="{{ url('preventivi_elimina' , {'id' : item.id , 'confirm' : false}) }}" class="btn btn-danger btn-sm float-right">
                                                    <span class="mdi mdi-delete"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $('#searchBtn').click(function(e) {
            e.preventDefault();
            var type = $("#searchType").val();
            var term = $("#searchTerms").val();
            $.ajax({
                url: '../ajax/search/expertations/' + type + '/' + term,
                success: function(data) {
                    $('#resultTable').html(data);
                }
            })
        })
    </script>
{% endblock %}
