{% extends 'base.html.twig' %}
{% block title %}Lista Preventivi{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mt-4">Preventivi <small>Lista</small></h3>
            </div>
            <div class="col-lg-6 grid-margin stretch-card mb-3 float-right">
                <div class="card">
                    <div class="card-body" style="padding: 1rem!important;">
                        <form class="row">
                            <div class="col-3 pr-0 border-right-0">
                                <select id="searchType" class="form-control custom-select mt-1" id="inlineFormCustomSelectPref" style="height: calc(2.25rem + -2px)!important;">
                                    <option value="1">Preventivo</option>
                                    <option value="2">Cliente</option>
                                    <!--<option value="3">Data</option>-->
                                </select>
                            </div>
                            <div class="col-6 pl-0 border-left-0">
                                <input id="searchTerms" type="text" class="form-control mt-1" placeholder="Cerca">
                            </div>
                            <div class="col-2">
                                <div class="btn-group mt-1">
                                    <button id="searchBtn" type="submit" class="btn btn-primary">
                                        <span class="mdi mdi-magnify"></span>
                                    </button>
                                    <button id="restoreBtn" type="reset" class="btn btn-secondary">
                                        <span class="mdi mdi-undo-variant"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            {{ knp_pagination_sortable(pagination, 'ID', 'a.pid') }}
                                        </th>
                                        <th>
                                            {{ knp_pagination_sortable(pagination, 'Data', 'a.date') }}
                                        </th>
                                        <th>
                                            {{ knp_pagination_sortable(pagination, 'Cliente', 'a.client') }}
                                        </th>
                                        <th>
                                            {{ knp_pagination_sortable(pagination, 'Commerciale', 'a.created_by') }}
                                        </th>
                                        <th>
                                            {{ knp_pagination_sortable(pagination, 'Stato', 'a.status') }}
                                        </th>
                                        {#<th>
                                            Prezzo
                                        </th>
                                        <th>
                                            Scadenza
                                        </th>#}
                                        <th style="width:200px"></th>
                                    </tr>
                                </thead>
                                <tbody id="resultTable">
                                {% for item in pagination %}
                                    <tr>
                                        <td>
                                            {{ item.pid }}
                                        </td>
                                        <td class="py-1">
                                            {{ item.date|date("d-m-Y") }}
                                        </td>
                                        <td>
                                            <a class=" animsition-link" href="{{ url('vedi_clienti', { id : item.client}) }}">
                                                {% if functions.uidToType(item.client) == 1 %} {{ functions.uidToRagSoc(item.client) }} {% else %}{{ functions.uidToSurName(item.client) }} {{ functions.uidToName(item.client) }}{% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a class=" animsition-link" href="{{ url('impostazioni_utenti') }}">
                                                {{ functions.userToName(item.createdBy) }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if item.status == 0 %}
                                                <span class="text-warning"><i class="far fa-clock"></i> In attesa </span>
                                            {% elseif item.status == 1 %}
                                                <span class="text-success"><i class="fa fa-check"></i> Accettato </span>
                                            {% elseif item.status == 2 %}
                                                <span class="text-danger"><i class="fa fa-times"></i> Rifiutato </span>
                                            {% endif %}
                                        </td>
                                        {#<td>
                                            {{ item.price }} €
                                        </td>
                                        <td>
                                            {{ item.expiration|date("d-m-Y") }}
                                        </td>#}
                                        <td style="max-width: 200px;">
                                            <script>
                                                $(function () {
                                                    $('[data-toggle="tooltip"]').tooltip();
                                                });
                                            </script>
                                            <div class="btn-group">
                                                <a href="{% if item.status == 0 %}{{ url('preventivi_imposta_accettato', {'id': item.id }) }}{% else %}{{ url('preventivi_imposta_non_accettato', {'id': item.id }) }}{% endif %}" class="btn {% if item.status == 0 %}btn-success{% else %} btn-secondary{% endif %} btn-sm animsition-link" data-toggle="tooltip" data-placement="top" title="{% if item.status == 0 %}Imposta come Accettato{% elseif item.status == 1 %}Imposta come Non Accettato{% endif %}">
                                                    <span class="{% if item.status == 0 %}mdi mdi-check{% else %}fa fa-times pl-1{% endif %}"></span>
                                                </a>
                                                <a href="{{ url('mostra_preventivo',{'id' : item.id}) }}" class="btn btn-primary btn-sm float-right animsition-link" data-toggle="tooltip" data-placement="top" title="Mostra Preventivo">
                                                    <span class="mdi mdi-eye-outline"></span>
                                                </a>
                                                <a href="" class="btn btn-warning btn-sm float-right animsition-link" data-toggle="tooltip" data-placement="top" title="Modifica Preventivo">
                                                    <span class="mdi mdi-table-edit"></span>
                                                </a>
                                                <a href="{{ url('preventivi_elimina' , {'id' : item.id , 'confirm' : false}) }}" class="btn btn-danger btn-sm float-right animsition-link" data-toggle="tooltip" data-placement="top" title="Elimina Preventivo">
                                                    <span class="mdi mdi-delete"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="navigation mt-1">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $('#searchBtn').click(function(e) {
            e.preventDefault();
            var type = $("#searchType").val();
            var term = $("#searchTerms").val();
            $.ajax({
                url: '../ajax/search/expertations/' + type + '/' + term,
                success: function(data) {
                    $('#resultTable').html(data);
                }
            })
        })
    </script>
{% endblock %}
