{% extends 'base.html.twig' %}
{% block title %}Preventivo{% endblock %}
{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-9">
                <h3>Preventivo <small>Nuovo > Base</small></h3>
            </div>
        </div>
        {% if clients == null %}
            <div class="alert alert-info">
                <strong>Attenzione:</strong> Non hai alcun cliente in anagrafica, inseriscilo prima di generare il preventivo
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="input-group">
                                {{ form_label(form.pid) }}
                                {{ form_widget(form.pid) }}
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.client) }}
                                {{ form_widget(form.client) }}
                                <div class="input-group-prepend">
                                    <div class="input-group-text mx-0 px-0 py-0">
                                        <a href="{{ url('nuovo_cliente') }}" class="btn btn-outline-success mx-0 px-2 ">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.tipo) }}
                                {{ form_widget(form.tipo) }}
                            </div>
                        </div>
                        <div class="col-lg-1 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.square_meters) }}
                                {{ form_widget(form.square_meters) }}
                            </div>
                        </div>
                        <div class="col-lg-1 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.piani_casa) }}
                                {{ form_widget(form.piani_casa) }}
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.riscaldamento) }}
                                {{ form_widget(form.riscaldamento) }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                                {{ form_label(form.opere_murarie) }}
                                {{ form_widget(form.opere_murarie) }}
                                {{ form_label(form.opere_murarie_intonaco) }}
                                {{ form_widget(form.opere_murarie_intonaco) }}
                                {{ form_label(form.opere_murarie_pietra) }}
                                {{ form_widget(form.opere_murarie_pietra) }}
                        </div>
                        <div class="col-lg-1 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.sconto) }}
                                {{ form_widget(form.sconto) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function() {
                /*$('.freeze-table').freezeTable({
                    'freezeColumn': false,
                    'freezeHead' : true,
                    'callback' : function() {
                    },
                    'headWrapStyles' : {'style':'margin-top:60px'},
                    'fixedNavbar' : 'navbar'
                });*/
            });

            $(document).ready(function () {
                $('#form_num_infissi').prop('disabled', true);
                $('#nav-hide-btn-icon').trigger('click');
                //$('#form_num_infissi_label').hide();
                $('#form_allarme').change(function() {
                    if(this.checked) {
                        $('#form_num_infissi').prop('disabled', false);
                    } else {
                        $('#form_num_infissi').prop('disabled', true);
                    }
                })
            });
            $(document).on('change', '#form_square_meters', function () {
                dataChanged();
            });
            $(document).on('change', '#form_level', function() {
                dataChanged();
            });
            function getData(tipo,dest) {
                if(meters) {
                    $.ajax({
                        url: '../ajax/expertations/get/quadri/' + tipo + '/' + level + '/' + meters,
                        dataType: 'html',
                        success: function (data) {
                            $(dest).val(data);
                        }
                    })
                }
            }
            function dataChanged() {
                meters = $("#form_square_meters").val();
                level = $("#form_level").val();

                getData(1,'#form_num_circuiti');
                getData(2,'#form_num_prese_dati');
                getData(3,'#form_illum_sicurezza');

                if (level === "1") {
                    $('#form_spd').val("1");
                    $('#form_imp_ausiliari').val("1");
                    //$('#form_num_infissi_label').hide();
                }
                if (level === "2") {
                    $('#form_spd').val("1");
                    $('#form_imp_ausiliari').val("2");
                    //$('#form_num_infissi_label').show();
                }
                if (level === "3") {
                    $('#form_spd').val("2");
                    $('#form_imp_ausiliari').val("3");
                    //$('#form_num_infissi_label').show();
                }
                if(meters <= 75) {
                    $('#form_kw').val("3");
                } else {
                    $('#form_kw').val("6");
                }
            }

            var v = $("#form_num_prese_dati").val(); //Let's say this is the value from PHP....
            var preVal = 0;

            $("#form_num_prese_dati").val(v);

            $("#form_num_prese_telefono").on("change keyup keydown", function(event) {
                let currVal = parseInt($("#form_num_prese_telefono").val());

                console.log(preVal);
                console.log(currVal);

                // store current positions in variables
                var start = this.selectionStart,
                    end = this.selectionEnd;

                if (!currVal || currVal == 0) {
                    preVal = 0;
                    $("#form_num_prese_telefono").val(v);
                } else if (currVal <= v) {
                    $("#form_num_prese_dati").val((v - currVal) == 0 ? 0 : (v - currVal));
                    preVal = currVal;
                } else {
                    $("#form_num_prese_telefono").val(v);
                }

                this.setSelectionRange(start, end);

            });
        </script>
        <div class="mt-3">
            <div class="card">
                <div class="card-body pb-2">
                    <div class="row">
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.level) }}
                                {{ form_widget(form.level) }}
                            </div>
                        </div>
                        <div class="col-lg-1 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.kw) }}
                                {{ form_widget(form.kw) }}
                            </div>
                        </div>
                        <div class="col-lg-1 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.trifase) }}
                                {{ form_widget(form.trifase) }}
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.cit_vid) }}
                                {{ form_widget(form.cit_vid) }}
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.num_infissi) }}
                                {{ form_widget(form.num_infissi) }}
                            </div>
                        </div>
                        <div class="col-lg-2 grid-margin stretch-card">
                            <div class="input-group">
                                {{ form_label(form.antenna) }}
                                {{ form_widget(form.antenna) }}
                                {{ form_label(form.campanello) }}
                                {{ form_widget(form.campanello) }}
                                {{ form_label(form.allarme) }}
                                {{ form_widget(form.allarme) }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_label((form.illum_esterna)) }}
                                {{ form_widget((form.illum_esterna)) }}
                            </div>
                        </div>
                        {#<div class="col-lg-3 grid-margin stretch-card">
                            <div class="mt-5">
                                <h4>Totale Preliminare: <span id="total" class="text-success text-right">0.00 €</span></h4>
                            </div>
                        </div>#}
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="input-group">
                                {{ form_label(form.num_circuiti) }}
                                {{ form_widget(form.num_circuiti) }}
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="input-group">
                                {{ form_label(form.num_prese_dati) }}
                                {{ form_widget(form.num_prese_dati) }}
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="input-group">
                                {{ form_label(form.num_prese_telefono) }}
                                {{ form_widget(form.num_prese_telefono) }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                {{ form_label(form.illum_sicurezza) }}
                                {{ form_widget(form.illum_sicurezza) }}
                                {{ form_label(form.lampada) }}
                                {{ form_widget(form.lampada) }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                {{ form_label(form.spd) }}
                                {{ form_widget(form.spd) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                {{ form_label(form.imp_ausiliari) }}
                                {{ form_widget(form.imp_ausiliari) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="freeze-table">
                            <table class="table table-hover table-responsive-lg float-right" style="display: block !important;">
                                <thead id="table-head" class="table-light">
                                    <th style="width: 65px;"></th>
                                    <th style="min-width:120px">
                                        Piano
                                    </th>
                                    <th style="min-width:300px" class="tbl-lg">
                                        Ambiente
                                    </th>
                                    <th style="min-width:300px" class="tbl-lg">
                                        Nome
                                    </th>
                                    <th style="min-width:155px">
                                        Punti prese
                                    </th>
                                    <th style="min-width:155px">
                                        Punti Luce
                                    </th>
                                    <th style="min-width:155px">
                                        Prese TV
                                    </th>
                                    <th style="min-width:155px">
                                        Punti di Comando
                                    </th>
                                    <th style="min-width:150px">
                                        Tiranti
                                    </th>
                                    {#<th>
                                        {{ form_widget(form.c3n) }}
                                    </th>
                                    <th>
                                        {{ form_widget(form.c4n) }}
                                    </th>
                                    <th>
                                        {{ form_widget(form.c5n) }}
                                    </th>#}
                                </thead>
                                <tbody id="email-fields-list" data-prototype='
                                </tr>
                                <td style="max-width:20px">
                                        <button type="button" class="remove-collection-widget btn px-1 pl-2" style="left: -10px; position: relative;"><i class="fa fa-minus-square "></i></button>
                                    </td>
                                    <td>
                                        {{ form_widget(form.floor.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:300px">
                                        {{ form_widget(form.ambient.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:300px">
                                        {{ form_widget(form.name.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:150px">
                                        {{ form_widget(form.pp.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:150px">
                                        {{ form_widget(form.pl.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:150px">
                                        {{ form_widget(form.pt.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:150px">
                                        {{ form_widget(form.c1v.vars.prototype)|e }}
                                    </td>
                                    <td style="min-width:150px">
                                        {{ form_widget(form.c2v.vars.prototype)|e }}
                                    </td>
                                    {#<td>
                                        {{ form_widget(form.c3v.vars.prototype)|e }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.c4v.vars.prototype)|e }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.c5v.vars.prototype)|e }}
                                    </td>#}
                                    ' data-widget-tags="{{ '<tr></tr>'|e }}">

                                </tbody>

                            </table>
                        </div>

                        <script>
                            function changed(item) {
                                $(document).on('change', '#form_ambient_' + item, function () {
                                    val = $("#form_ambient_" + item).val();
                                    level = $("#form_level").val();
                                    console.log(val);
                                    $.ajax({
                                        url: '../ajax/expertations/get/outlets/' + level + "/" + val,
                                        dataType: 'html',
                                        success: function (data) {
                                            console.log(data);
                                            data = JSON.parse(data);
                                            if (data[0]) {
                                                $('#form_pp_' + item).val(data[0]['outlets']).attr('min', data[0]['outlets']);
                                            } else {
                                                $('#form_pp_' + item).val(0);
                                            }
                                            if (data[1]) {
                                                $('#form_pl_' + item).val(data[1]['outlets']);
                                            } else {
                                                $('#form_pl_' + item).val(0);
                                            }
                                            if (data[2]) {
                                                if(data[2]['type'] == 3) {
                                                    $('#form_pt_' + item).val(data[2]['outlets']);
                                                } else {
                                                    $('#form_pt_' + item).val(0);
                                                }
                                            }
                                            if (data[3]) {
                                                if(data[3]['type'] == 4) {
                                                    $('#form_c1v_' + item).val(data[3]['outlets']);
                                                } else {
                                                    $('#form_c1v_' +item).val(0);
                                                }
                                            }
                                            if(data[4]) {
                                                if(data[4]['type'] == 5) {
                                                    $('#form_c2v_' + item).val(data[4]['outlets']);
                                                } else {
                                                    $('#form_c2v_' +item).val(0);
                                                }
                                            }
                                        }
                                    });
                                    $('#form_name_' + item).val($('#form_ambient_' + item + ' option:selected').text());
                                    change_tirante(val,item);
                                    toastr.info('Carico valori');
                                });
                            }
                            function update_total() {
                                val = Math.floor(Math.random() * (1000 - 10) + 10);
                                $('#total').text(val + '.00 €');
                            }
                            function change_tirante(val,item) {
                                $.ajax({
                                    url: '../ajax/expertation/get/tiranti/' + val,
                                    dataType: 'html',
                                    success: function (data) {
                                        if($('#form_c1n').val() === 'Tirante') {
                                            $('#form_c1v_' + item).val(data);
                                        } else if($('#form_c2n').val() === 'Tirante') {
                                            $('#form_c2v_' + item).val(data);
                                        }
                                    }
                                });
                            }

                        </script>
                    </div>
                    <button type="button"
                            class="add-another-collection-widget btn btn-outline-primary btn-block mt-4"
                            data-list="#email-fields-list"><i class="fa fa-plus-circle"></i>Aggiungi Ambiente</button>
                    <script>
                        var distance = $('#table-head').offset().top;

                        /*$(window).scroll(function() {
                            var scroll = $(window).scrollTop();
                            if ( $(this).scrollTop() >= distance ) {
                                var top = true;
                                var pos = scroll;
                                if (top === true) {
                                    $('#table-head').css('position','fixed').css('top', '65px');
                                }
                                console.log('is in top');
                                console.log(scroll);
                            } else {
                                if($(window).scrollTop() == pos) {
                                    $('#table-head').css('position','relative').css('top', '0');
                                }
                                console.log('is not in top');
                            }
                        });*/
                        $(document).ready(function () {
                            $('.add-another-collection-widget').click(function (e) {
                                var list = jQuery(jQuery(this).attr('data-list'));
                                var counter = list.data('widget-counter') | list.children().length;
                                if (!counter) { counter = list.children().length; }
                                var newWidget = list.attr('data-prototype');
                                newWidget = newWidget.replace(/__name__/g, counter);
                                changed(counter);
                                dataChanged();
                                var newcount = counter - 1;
                                var exval = $("#form_floor_" + newcount).val();
                                counter++;
                                list.data(' widget-counter', counter);
                                var newElem = jQuery(list.attr('data-widget-tags')).append(newWidget);
                                newElem.appendTo(list).hide().show("slow");
                                $("#form_floor_" + (counter + 1)).val(exval);
                                $(newElem).children('.remove-collection-widget').attr('disabled','disabled');
                                $('.remove-collection-widget').click(function(e) {
                                    e.preventDefault();
                                    $(newElem).show().hide(1000).remove();
                                    return false;
                                });
                                $(document).on('change', '#form_c1n', function () {
                                    change_tirante($("#form_ambient_" + item).val(),item)
                                });
                                $(document).on('change', '#form_c2n', function () {
                                    change_tirante($("#form_ambient_" + item).val(),item)
                                });

                            }).animate(500);

                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <div class="card card-generate ">
                    <div class="card-body pt-2 pb-4">
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.submit) }}
                            </div>
                            <div class="col-6">
                                <a href="" class="btn btn-outline-danger btn-block btn-sm mt-3 ">Annulla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
</div>

    <style>
        .form-control {
            width: 100%!important;
        }
        #form_client {
            max-width:85%;
        }
        table tbody tr td input.form-control {
            min-width: 50px;
            max-width: 50px;
            text-align: center;
            margin: 0 auto;
        }
        .level-mt-3 {
            margin-top: 0.7rem !important;
        }
        table tbody tr th {
            min-width: 150px;
        }
        .tbl-lg {
            min-width: 250px;
        }
        .card-generate {
            position: fixed;
            bottom: 0px;
            right: 0px;
            border-top: 1px solid #CCCCCC;
            border-left: 1px solid #CCCCCC;
            border-top-left-radius: 5px;
        }
        @media only screen and (max-width: 600px) {
            .card-generate {
                position: fixed;
                width: 100%;
            }
        }
        .form-check {
            margin-top: 0!important;
        }
    </style>
    <script>
        jQuery(document).ready(function(){
            $("table").stickyTableHeaders({
                marginTop: 63,
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome.all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.toastr.min.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.toastr.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/freeze-table.js') }}" type="text/javascript"></script>
{% endblock %}