{% extends 'base.html.twig' %}
{% block title %}Preventivo{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-9">
                <h3>Preventivo <small>Nuovo > Avanzato</small></h3>
            </div>
        </div>
        {% form_theme form 'jquery.collection.html.twig' %}
        {{ form_start(form) }}
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <strong>Cliente</strong>
                            <p><small>{{ func.uidToName(item.client) }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Tipo Impianto</strong>
                            <p><small>{{ func.plantIntToName(item.tipo) }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Kw Enel</strong>
                            <p><small>{{ item.kw }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Piani</strong>
                            <p><small>{{ item.pianiCasa }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Riscaldamento</strong>
                            <p><small>{{ func.heatingIntToName(item.riscaldamento) }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Opere Murarie</strong>
                            <p><small>{{ func.convertOMtoName(item.opereMurarie) }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Trifase</strong>
                            <p>
                                <small>
                                    {% if item.trifase == 0 %}
                                        No
                                    {% else %}
                                        Si
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Sconto</strong>
                            <p><small>{{ item.sconto }}</small></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <strong>Livello </strong>
                            <p><small>{{ item.level }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Metri Quadrati</strong>
                            <p><small>{{ item.squareMeters }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Data Generazione</strong>
                            <p><small>{{ item.date|date("d/m/Y") }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Prezzo Preliminare</strong>
                            <p><small>{{ item.price|round(2) }} €</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Illum. Sicurezza</strong>
                            <p><small>{{ item.illumSicurezza }}</small></p>
                        </div>
                        <div class="col-lg-1">
                            <strong>SPD</strong>
                            <p><small>{{ item.spd }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Imp. Ausiliari</strong>
                            <p><small>{{ item.impAusiliari }} </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <table class="table table-responsive" style="overflow-y: visible">
                            <thead>
                                <tr>
                                    <th>TIPOLOGIA</th>
                                    {% for item in count %}
                                        <th>
                                            {{ func.room(item) }}
                                        </th>
                                    {% endfor %}
                                    {#{% for i in 0..count|length %}
                                        <th>
                                            {{ item.[index0.loop].ambient }}
                                        </th>
                                    {% endfor %}#}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="10">
                                        PUNTI PRESA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong >Punti Presa</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val1_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prese esterne a parete</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val2_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prese aggiuntive e bivalenti 10/16A</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val3_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bipolare</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val4_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ventilatore / Estrattore Aria</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val5_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        PUNTI COMANDO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Comando</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val6_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Comandi Agg.vi</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val7_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        ILLUMINAZIONE PREDISPOSIZIONE ESCLUSI CORPI ILLUMINANTI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Luce</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val8_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Lice esterni a parete</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val9_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Dimmer</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val10_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Predisposizione LED parete o incasso</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val11_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensori accendiluce/contatto porta</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val12_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Luci emergenza predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val13_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Lampada Emergenza</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val14_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Segnapasso LED predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val15_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensore luminosità</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val16_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        RISCALDAMENTO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allaccio condizionatore/termoconvettori</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val17_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Caldaia/Pompa di calore</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val18_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Terra ai collettori</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val19_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Termostato</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val20_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensore Umidità</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val21_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        QUADRO ELETTRICO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 12 Moduli</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val22_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 36 Moduli</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val23_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 54 Moduli</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val24_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 72 Moduli</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                    <td>
                                        <input class="form-control" type="number" value="0" min="0" id="form_val25_{{ item }}">
                                    </td>
                                    {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sezionatore</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val26_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>MTD</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val27_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        SERVIZI PREDISPOSIZIONE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allarme Gas predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val28_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allagamento predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val29_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allarme predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val30_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Rilevatore di fumo predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val31_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Centralino telefonico</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val32_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Telefono</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val33_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Citofono Interno</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val34_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Citofono Esterno</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val35_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Videocitofono a parete</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val36_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Videocitofono esterno</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val37_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Campanello suoneria</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val38_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Dati predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val39_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Telecamere predisposizione</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val40_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Tiranti e/o pulsanti emergenza</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val41_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ronzatore emergenza</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val42_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>TV frutti</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val43_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>SAT frutti</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val44_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Antenna terrestre</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val45_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Parabola</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val46_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        AUDIO-VIDEO E HOME THEATER PREDISPOSIZIONI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Touch 3,5" a colori o EQ40</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val47_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Equinox 41</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val48_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Equinox 73</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val49_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Keypad Vantage</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val50_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Comandi diffusione sonora</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val51_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Diffusori</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val52_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Surround</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val53_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        PREDISPOSIZIONE AUTOMATISMI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore zanzariera/tenda</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val54_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore persiana/ lucernai/ grata</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val55_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore tapparella / oscurante</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val56_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>P.to comando motori</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val57_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Basculante</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val58_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Cancello</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val59_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        ASPIRAZIONE CENTRALIZZATA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bocchette</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val60_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val61_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        RESOCONTO PLACCHE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 503</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val62_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 504</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val63_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 506</strong>
                                    </td>
                                    {% for item in 1..count|length %}
                                        <td>
                                            <input class="form-control" type="number" value="0" min="0" id="form_val64_{{ item }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                            {{ form_widget(form.submit) }}
                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3">
                                    <div class="card card-generate ">
                                        <div class="card-body pt-2 pb-4">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="" id="generateBtn" class="btn btn-success btn-block btn-sm mt-3">Genera</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="" class="btn btn-outline-danger btn-block btn-sm mt-3">Annulla</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready( function () {
                update({{ item.id }},'pp','val1');
                update({{ item.id }},'pl','val8');
                update({{ item.id }},'c1v','val6');
                update({{ item.id }},'c2v','val41');
                }
            );

            $('#generateBtn').click(function(e) {
                e.preventDefault();
                toastr.info("Genero Preventivo");
                for(var i = 1; i < 65; i++) {
                    $('#appbundle_expertationsadvanced_val' + i).val(collect('val' + i));
                }
                $('#appbundle_expertationsadvanced_father').val({{ item.id }});
                $('#appbundle_expertationsadvanced_fatherFloor').val('1');
                $('#appbundle_expertationsadvanced_submit').trigger('click')

            });

            function collect(valn) {
                var arr = [];
                $('input[id^="form_' + valn + '_"]').each(function() {
                    arr.push($(this).val());
                });
                return arr.join(",");
            }

            function update(exp,field,valn){
                $.ajax({
                    url: '/ajax/get/expData/' + exp + '/' + field,
                    success: function (data) {
                        for (var i = 0; i < {{ count|length }}; i++) {
                            var numbersArray = data.split(',');
                            $.each(numbersArray, function(index, value) {
                                var ind = index +1;
                                $('#form_'+ valn + '_' + ind).val(value);
                            });

                        }
                    }
                })
            }
        </script>
    </div>
</div>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.collection').collection();
    </script>
    <script src="{{ asset('js/jquery.toastr.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .form-control {

            width: 100px;
            min-width: 100px;

        }
        select {
            width:100%!important;
        }
        #form_client {
            max-width:85%;
        }
        .input-group label {
            font-size: 13px;
            line-height: 1;
            vertical-align: top;
        }
        .card-generate {
            position: fixed;
            bottom: 0px;
            right: 0px;
            border-top: 1px solid #CCCCCC;
            border-left: 1px solid #CCCCCC;
            border-top-left-radius: 5px;
        }
        @media only screen and (max-width: 600px) {
            .card-generate {
                position: fixed;
                width: 100%;
            }
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/jquery.toastr.min.css') }}">
{% endblock %}