{% extends 'base.html.twig' %}
{% block title %}Preventivo{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-9">
                <h3>Preventivo <small>Nuovo > Avanzato</small></h3>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <strong>Cliente</strong>
                            <p><small>{{ func.uidToName(item.client) }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Tipo Impianto</strong>
                            <p><small>{{ func.plantIntToName(item.tipo) }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Kw Enel</strong>
                            <p><small>{{ item.kw }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Piani</strong>
                            <p><small>{{ item.pianiCasa }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Riscaldamento</strong>
                            <p><small>{{ func.heatingIntToName(item.riscaldamento) }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Opere Murarie</strong>
                            <p><small>{{ func.convertOMtoName(item.opereMurarie) }}</small></p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Trifase</strong>
                            <p>
                                <small>
                                    {% if item.trifase == 0 %}
                                        No
                                    {% else %}
                                        Si
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                        <div class="col-lg-1 ">
                            <strong>Sconto</strong>
                            <p><small>{{ item.sconto }}</small></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <strong>Livello </strong>
                            <p><small>{{ item.level }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Metri Quadrati</strong>
                            <p><small>{{ item.squareMeters }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Data Generazione</strong>
                            <p><small>{{ item.date|date("d/m/Y") }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Prezzo Preliminare</strong>
                            <p><small>{{ item.price|round(2) }} €</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Illum. Sicurezza</strong>
                            <p><small>{{ item.illumSicurezza }}</small></p>
                        </div>
                        <div class="col-lg-1">
                            <strong>SPD</strong>
                            <p><small>{{ item.spd }}</small></p>
                        </div>
                        <div class="col-lg-2 ">
                            <strong>Imp. Ausiliari</strong>
                            <p><small>{{ item.impAusiliari }} </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>TIPOLOGIA</th>
                                    {% for i in 0..count %}
                                    <th>
                                        <select class="form-control">
                                            <option>Ambiente</option>
                                        </select>
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="10">
                                        PUNTI PRESA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong >Punti Presa</strong>
                                    </td>
                                        {% for i in 0..count %}
                                        <td>
                                            {{ form_widget(form.val1.vars.prototype) }}
                                        </td>
                                        {% endfor %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prese esterne a parete</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val2) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prese aggiuntive e bivalenti 10/16A</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val3) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bipolare</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val4) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ventilatore / Estrattore Aria</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val5) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        PUNTI COMANDO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Comando</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val6) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Comandi Agg.vi</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val7) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        ILLUMINAZIONE PREDISPOSIZIONE ESCLUSI CORPI ILLUMINANTI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Luce</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val8) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Punti Lice esterni a parete</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val9) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Dimmer</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val10) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Predisposizione LED parete o incasso</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val11) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensori accendiluce/contatto porta</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val12) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Luci emergenza predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val13) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Lampada Emergenza</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val14) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Segnapasso LED predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val15) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensore luminosità</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val16) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        RISCALDAMENTO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allaccio condizionatore/termoconvettori</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val17) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Caldaia/Pompa di calore</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val18) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Terra ai collettori</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val19) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Termostato</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val20) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sensore Umidità</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val21) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        QUADRO ELETTRICO
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 12 Moduli</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val22) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 36 Moduli</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val23) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 54 Moduli</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val24) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quadro 72 Moduli</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val25) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Sezionatore</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val26) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>MTD</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val27) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        SERVIZI PREDISPOSIZIONE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allarme Gas predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val28) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allagamento predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val29) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Allarme predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val30) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Rilevatore di fumo predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val31) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Centralino telefonico</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val32) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Telefono</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val33) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Citofono Interno</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val34) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Citofono Esterno</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val35) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Videocitofono a parete</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val36) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Videocitofono esterno</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val37) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Campanello suoneria</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val38) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Dati predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val39) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Telecamere predisposizione</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val40) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Tiranti e/o pulsanti emergenza</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val41) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ronzatore emergenza</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val42) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>TV frutti</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val43) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>SAT frutti</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val44) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Antenna terrestre</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val45) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Parabola</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val46) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        AUDIO-VIDEO E HOME THEATER PREDISPOSIZIONI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Touch 3,5" a colori o EQ40</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val47) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Equinox 41</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val48) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Equinox 73</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val49) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Keypad Vantage</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val50) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Comandi diffusione sonora</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val51) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Diffusori</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val52) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Surround</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val53) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        PREDISPOSIZIONE AUTOMATISMI
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore zanzariera/tenda</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val54) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore persiana/ lucernai/ grata</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val55) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore tapparella / oscurante</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val56) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>P.to comando motori</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val57) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Basculante</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val58) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Cancello</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val59) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        ASPIRAZIONE CENTRALIZZATA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bocchette</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val60) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Motore</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val61) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        RESOCONTO PLACCHE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 503</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val62) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 504</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val63) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Supporti 506</strong>
                                    </td>
                                    <td>
                                        {{ form_widget(form.val64) }}
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number">
                                    </td>
                                </tr>
                            </tbody>
                            {{ form_end(form) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <script>
            jQuery(document).ready(function () {
                jQuery('.add-another-collection-widget').click(function (e) {
                    var list = jQuery(jQuery(this).attr('data-list'));
                    // Try to find the counter of the list
                    var counter = list.data('widget-counter') | list.children().length;
                    // If the counter does not exist, use the length of the list
                    if (!counter) { counter = list.children().length; }

                    // grab the prototype template
                    var newWidget = list.attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    newWidget = newWidget.replace(/__name__/g, counter);
                    // Increase the counter
                    counter++;
                    // And store it, the length cannot be used if deleting widgets is allowed
                    list.data(' widget-counter', counter);

                    // create a new list element and add it to the list
                    var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                    newElem.appendTo(list);
                });
            });
        </script>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <style>
        .form-control {
            width: 100%!important;
        }
        select {
            width:100%!important;
        }
        #form_client {
            max-width:85%;
        }
        .input-group label {
            font-size: 13px;
            line-height: 1;
            vertical-align: top;
        }
    </style>

{% endblock %}