{% extends 'base.html.twig' %}
{% block title %}Mostra Preventivo{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row top-title">
            <div class="col-sm-12">
                <h3>Preventivi <small>Mostra</small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Cliente</h5>
                        </div>
                        <strong>Nome:</strong> {{ client.name }} <br/>
                        <strong>Indirizzo:</strong> {{ client.address }}, {{ client.postalCode }}, {{ client.city }} ({{ client.province }}) <br/>
                        <strong>Telefono:</strong> <a href="tel:{{ client.phone }}">{{ client.phone }}</a>  <br/>
                        <strong>E-Mail:</strong> <a href="mailto:{{ client.email }}">{{ client.email }}</a>  <br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Abitazione</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>Tipo impianto:</strong>  {{ functions.plantIntToName(item.tipo) }}<br/>
                                <strong>Piani edificio:</strong>  {{ item.pianiCasa }}<br/>
                                <strong>Riscaldamento:</strong>  {{ functions.heatingIntToName(item.riscaldamento) }} <br/>
                                <strong>Trifase:</strong>  {% if item.trifase == true %} Si {% elseif item.trifase == false %} No {% endif %}<br/>
                            </div>
                            <div class="col-sm-6">
                                <strong>Livello impianto:</strong> {{ item.level }} <br/>
                                <strong>Fornitura elettrica:</strong> {{ item.kw }} Kw <br/>
                                <strong>Metratura ambienti:</strong> {{ item.squareMeters }} m² <br />
                                <strong>Opere murarie:</strong> {% if item.opereMurarie == 0 %} No {% elseif item.opereMurarie == 1 %} Intonaco {% elseif item.opereMurarie == 2 %} Mattone/Pietra {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title title-dettagli">
                            Dettaglio Preventivo
                        </h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr class="text-center" style="background-color: #f2f8f9;">
                                    <th>
                                        Piano
                                    </th>
                                    <th class="tbl-lg">
                                        Ambiente
                                    </th>
                                    <th class="tbl-lg">
                                        Nome
                                    </th>
                                    <th>
                                        Punti prese
                                    </th>
                                    <th>
                                        Punti Luce
                                    </th>
                                    <th>
                                        Prese TV
                                    </th>
                                </tr>
                                {{ dump(item) }}
                                {% set lenght = item.floor|length %}
                                {% for itm in 1..lenght %}
                                    <tr>
                                        <td>
                                            {% for floors in item.floor %}
                                                {{ floors }}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ itm }}
                                            {#{{ dump(functions.convertAIDtoName(itm[loop.index0].ambient)) }} #}
                                        </td>
                                            {{ itm }}
                                        <td>
                                            {{ itm }}
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            0
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row mt-5">
                            <div class="col-3">
                                <strong>Circuiti:</strong>&nbsp; {{ item.numCircuiti }}
                            </div>
                            <div class="col-3">
                                <strong>Prese Telefono / Dati:</strong>&nbsp; {{ item.numPreseTelefonoDati }}
                            </div>
                            <div class="col-4">
                                <strong>Dispositivi per l'illuminazione di sicurezza:</strong>&nbsp; {{ item.illumSicurezza }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <strong>SPD:</strong>&nbsp;
                                {% if item.spd == 1 %}SPD ad arrivo linea per rendere tollerabile il rischio R1 {% endif %}
                                {% if item.spd == 2 %}SPD ad arrivo linea per rendere tollerabile il rischio R1 e ai fini della protezione contro le sovratensioni {% endif %}
                            </div>
                            <div class="col-6">
                                <strong>Impianti ausiliari e risparmio energetico:</strong>&nbsp;
                                {% if item.impAusiliari == 1 %}Campanello, citofono e videocitofono {% endif %}
                                {% if item.impAusiliari == 2 %}Campanello, citofono e antintrusione, Controllo carichi {% endif %}
                                {% if item.impAusiliari == 3 %}Campanello, citofono e antintrusione, Controllo carichi, Domotica {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                Totale
                            </div>
                            <div class="col-sm-6 text-right text-black">
                                0.00 €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                IVA
                            </div>
                            <div class="col-sm-6 text-right">
                                0.00 €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                Sconto ({{ item.sconto }} %)
                            </div>
                            <div class="col-sm-6 text-right">
                                0.00 €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <strong>Totale</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <strong>0.00 €</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {#{{ dump(item) }}#}
{% endblock %}
{% block stylesheets %}
<style>
    @media print {
        .sidebar {
            display: none;
        }
        .footer {
            display: none;
        }
        .sf-toolbar {
            display: none;
        }
        .top-title {
            display: none;
        }
        .navbar {
            display: none;
        }
        .navbar-toggler {
            display: none;
        }
        .title-dettagli {
            display: none;
        }
        .brand-logo-mini img {
            margin-left: 3vw;
        }
    }
</style>
{% endblock %}