{% extends 'base.html.twig' %}
{% block title %}Mostra Preventivo{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row top-title">
            <div class="col-sm-7">
                <h3>Preventivi <small>Mostra</small></h3>
            </div>
            <div class="col-sm-5">
                <div class="card float-right mb-2 w-sm-100 mw-sm-100">
                    <div class="card-body mx-0 py-1 px-1">
                        <div class="row">
                            <div class="col-4 mr-0 pr-0 ml-0 pl-3">
                                <div class="btn-group">
                                    <a href="{{ url('preventivi_elimina' , {'id' : item.id , 'confirm' : false}) }}" class="btn btn-danger btn-sm float-right">
                                        <i class="mdi mdi-delete mr-0"></i>
                                    </a>
                                    <a href="{{ url('modifica_preventivo', {'id' : item.id }) }}" class="btn btn-secondary btn-sm float-right ">
                                        <i class="mdi mdi-pencil mr-0"></i>
                                    </a>
                                    <a href="" class="btn btn-success btn-sm float-right" onclick="print();">
                                        <i class="mdi mdi-printer mr-0"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-8 ml-0 pl-0 pr-4">
                                <div class="btn-group">
                                    <a href="{{ url('preventivi_dettaglio_id', {'id': item.id}) }}" class="btn btn-primary btn-sm float-right">
                                        Computometrico
                                    </a>
                                    {% if gotAdv == true %}
                                        <a href="{{ url('mostra_preventivo_avanzato', {'id': item.id}) }}" class="btn btn-success btn-sm float-right ">
                                            Mostra Avanzato
                                        </a>
                                    {% else %}
                                        <a href="{{ url('nuovo_preventivo_avanzato', {'id': item.id, 'floor': '0' }) }}" class="btn btn-success btn-sm float-right">
                                            Nuovo Avanzato
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-sm-2">
            <div class="col-md-4">
                <div class="card card-grey mbgitmd-4">
                    <div class="card-body ">
                        <div class="card-title">
                            <h5>Cliente</h5>
                        </div>
                        <strong>Nome:</strong> {{ client.name }} <br/>
                        <strong>Indirizzo:</strong> {{ client.address }}, {{ client.postalCode }}, {{ client.city }} ({{ client.province }}) <br/>
                        <strong>Telefono:</strong> <a href="tel:{{ client.phone }}">{{ client.phone }}</a>  <br/>
                        <strong>E-Mail:</strong> <a href="mailto:{{ client.email }}">{{ client.email }}</a>  <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-grey">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Abitazione</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>Tipo impianto:</strong>  {{ functions.plantIntToName(item.tipo) }}<br/>
                                <strong>Piani edificio:</strong>  {{ item.pianiCasa }}<br/>
                                <strong>Riscaldamento:</strong>  {{ functions.heatingIntToName(item.riscaldamento) }} <br/>
                                <strong>Trifase:</strong>  {% if item.trifase == true %} Si {% elseif item.trifase == false %} No {% endif %}<br/>
                            </div>
                            <div class="col-sm-6">
                                <strong>Livello impianto:</strong> {{ item.level }} <br/>
                                <strong>Fornitura elettrica:</strong> {{ item.kw }} Kw <br/>
                                <strong>Metratura ambienti:</strong> {{ item.squareMeters }} m² <br />
                                <strong>Opere murarie:</strong> {% if item.opereMurarie == 0 %} No {% elseif item.opereMurarie == 1 %} Intonaco {% elseif item.opereMurarie == 2 %} Mattone/Pietra {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title title-dettagli">
                            Dettaglio Preventivo {% if item.level == 1 %} Base {% elseif item.level == 2 %} Standard {% elseif item.level == 3 %} Domotico {% endif %}
                        </h5>
                        <div class="scrollable" style="overflow-x: scroll">
                            <table class="table table-hover">
                            <tbody>
                                <tr class="text-center table-header" style="background-color: #f2f8f9;">
                                    <th style="max-width: 50px;">
                                        Piano
                                    </th>
                                    <th class="tbl-lg ambient-td">
                                        Ambiente
                                    </th>
                                    <th class="tbl-lg">
                                        Nome
                                    </th>
                                    <th>
                                        Punti prese
                                    </th>
                                    <th>
                                        Punti Luce
                                    </th>
                                    <th>
                                        Prese TV
                                    </th>
                                    {% if item.c1n is not null %}
                                        <th>
                                            {{ item.c1n }}
                                        </th>
                                    {% endif %}
                                    {% if item.c2n is not null %}
                                        <th>
                                            {{ item.c2n }}
                                        </th>
                                    {% endif %}
                                    {% if item.c3n is not null %}
                                        <th>
                                            {{ item.c3n }}
                                        </th>
                                    {% endif %}
                                    {% if item.c4n is not null %}
                                        <th>
                                            {{ item.c4n }}
                                        </th>
                                    {% endif %}
                                    {% if item.c5n is not null %}
                                        <th>
                                            {{ item.c5n }}
                                        </th>
                                    {% endif %}
                                </tr>
                                {% for key in item.floor|keys %}
                                    <tr>
                                        <td>
                                            {% if item.floor[key] == 0 %}
                                                T
                                            {% else %}
                                                {{ item.floor[key] }}
                                            {% endif %}
                                        </td>
                                        <td class="ambient-td">
                                            {{ functions.convertAIDtoName(item.ambient[key]) }}
                                        </td>
                                        <td>
                                            {{ item.name[key] }}
                                        </td>
                                        <td>
                                            {{ item.pp[key] }}
                                        </td>
                                        <td>
                                            {{ item.pl[key] }}
                                        </td>
                                        <td>
                                            {{ item.pt[key] }}
                                        </td>
                                        {% if item.c1n is not null %}
                                            <td>
                                                {{ item.c1v[key] }}
                                            </td>
                                        {% endif %}
                                        {% if item.c2n is not null %}
                                            <td>
                                                {{ item.c2v[key] }}
                                            </td>
                                        {% endif %}
                                        {% if item.c3n is not null%}
                                            <td>
                                                {{ item.c3v[key] }}
                                            </td>
                                        {% endif %}
                                        {% if item.c4n is not null %}
                                            <td>
                                                {{ item.c4v[key] }}
                                            </td>
                                        {% endif %}
                                        {% if item.c5n is not null %}
                                            <td>
                                                {{ item.c5v[key] }}
                                            </td>
                                        {% endif %}
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-2">
                                <strong>Circuiti:</strong> {{ item.numCircuiti }}
                            </div>
                            <div class="col-md-3">
                                <strong>Prese Telefono:</strong> {{ item.numPreseTelefono }}
                            </div>
                            <div class="col-md-3">
                                <strong>Prese  Dati:</strong>  {{ item.numPreseDati }}
                            </div>
                            <div class="col-md-4">
                                <strong>Dispositivi per l'illuminazione di sicurezza:</strong> {{ item.illumSicurezza }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>SPD:</strong>
                                {% if item.spd == 1 %}SPD ad arrivo linea per rendere tollerabile il rischio R1 {% endif %}
                                {% if item.spd == 2 %}SPD ad arrivo linea per rendere tollerabile il rischio R1 e ai fini della protezione contro le sovratensioni {% endif %}
                            </div>
                            <div class="col-md-6">
                                <strong>Impianti ausiliari e risparmio energetico:</strong>
                                {% if item.impAusiliari == 1 %}Campanello, citofono e videocitofono {% endif %}
                                {% if item.impAusiliari == 2 %}Campanello, citofono e antintrusione, Controllo carichi {% endif %}
                                {% if item.impAusiliari == 3 %}Campanello, citofono e antintrusione, Controllo carichi, Domotica {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                Totale
                            </div>
                            <div class="col-sm-6 text-right text-black">
                                {{ total|number_format(2,'.') }} €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                IVA (22%)
                            </div>
                            <div class="col-sm-6 text-right">
                                {{ vat|number_format(2,'.') }} €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                Sconto ({{ item.sconto }} %)
                            </div>
                            <div class="col-sm-6 text-right">
                                - {{ sconto|number_format(2,'.') }} €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <strong>Totale</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <strong>{{ grand_total|number_format(2,'.') }} €</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
</div>
    {#{{ dump(item) }}#}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/scrollbar.css') }}">

    <style>
    td {
        text-align: center!important;
    }
    @media print {
        .sidebar {
            display: none;
        }
        .footer {
            display: none;
        }
        .sf-toolbar {
            display: none;
        }
        .top-title {
            display: none;
        }
        .navbar {
            display: none;
        }
        .navbar-toggler {
            display: none;
        }
        .title-dettagli {
            display: none;
        }
        .brand-logo-mini img {
            margin-left: 3vw;
        }
        .ambient-td {
            display: none;
        }
        .ambient-th {
            display: none;
        }
        a {
            text-decoration: none!important;
            color: #000000!important;
        }
        .card-grey {
            border: 1px solid #EEEEEE!important;
        }
        .card {
            padding: 0!important;
            margin: 0!important;
        }
        .table-header {
            background-color: #EEEEEE!important;
        }
    }
</style>
    <link rel="stylesheet" href="{{ asset('css/jquery.toastr.min.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/scrollbar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.toastr.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('.scrollable').scrollbar();
        });
    </script>
    {% if generated == true %}
        <script>
            $(document).ready(function() {
                toastr.success("Preventivo Generato");
            })
        </script>
    {% endif %}
{% endblock %}