{% extends 'base.html.twig' %}
{% block title %}Nuovo Cliente{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-9">
                <h3>Cliente <small>Nuovo</small></h3>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type) }}
                    </div>
                    <div id="form_ragione_soc" class="col-10">
                        {{ form_label(form.ragioneSociale) }}
                        {{ form_widget(form.ragioneSociale) }}
                    </div>
                    <div class="col-4 privato_forms">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-4 privato_forms">
                        {{ form_label(form.surname) }}
                        {{ form_widget(form.surname) }}
                    </div>
                    <div class="col-2 privato_forms">
                        {{ form_label(form.genre) }}
                        {{ form_widget(form.genre) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>
                    <div class="col-2">
                        {{ form_label(form.postal_code) }}
                        {{ form_widget(form.postal_code) }}
                    </div>
                    <div class="col-4">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="col-1">
                        {{ form_label(form.province) }}
                        {{ form_widget(form.province) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.privacy_accepted) }}
                            {{ form_label(form.privacy_accepted, 'Privacy Accettata', { 'label_attr': {'class' : 'custom-control-label'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        {{ form_widget(form.submit) }}

                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function() {
            $('.privato_forms').hide();
            $('#form_ragione_soc').hide();
            $("select[name='form[type]']").change(function () {
                if ($(this).val() == 1) {
                    $('#form_ragione_soc').show();
                    $('.privato_forms').hide();
                    console.log('Azienda')
                } else if ($(this).val() == 2) {
                    $('#form_ragione_soc').hide();
                    $('.privato_forms').show();
                    console.log('Privato')
                }
            });
        });
    </script>
{% endblock %}