{% for item in expertations %}
    <tr>
        <td>
            {{ item.pid }}
        </td>
        <td class="py-1">
            {{ item.date|date("d-m-Y") }}
        </td>
        <td>
            <a href="{{ url('vedi_clienti', { id : item.client}) }}">
                {{ functions.uidToName(item.client) }}
            </a>
        </td>
        <td>
            <a href="{{ url('impostazioni_utenti') }}">
                {{ functions.userToName(item.createdBy) }}
            </a>
        </td>
        {#<td>
            {{ item.price }} €
        </td>
        <td>
            {{ item.expiration|date("d-m-Y") }}
        </td>#}
        <td style="max-width: 200px;">
            <div class="btn-group">
                <a href="{{ url('mostra_preventivo',{'id' : item.id}) }}" class="btn btn-primary btn-sm float-right">
                    <span class="mdi mdi-eye-outline"></span>
                </a>
                <a href="" class="btn btn-warning btn-sm float-right">
                    <span class="mdi mdi-table-edit"></span>
                </a>
                <a href="{{ url('preventivi_elimina' , {'id' : item.id , 'confirm' : false}) }}" class="btn btn-danger btn-sm float-right">
                    <span class="mdi mdi-delete"></span>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}