{% for user in users %}
    <tr>
        <td class="py-1" class="text-center">
            <img class="mg-xs rounded-circle" src="{{ asset('users/' ~ user.picture) }}" alt="image" style="width: 40px; height: 40px  ">
        </td>
        <td class="text-center">
            {{ user.usernameCanonical }}
        </td>
        <td class="text-center">
            {{ user.emailCanonical }}
        </td>
        <td class="text-center">
            {% if user.enabled == 0 %}
                <span class="status-indicator"></span>
            {% elseif user.enabled == 1 %}
                <span class="status-indicator online"></span>
            {% endif %}
        </td>
        <td class="text-center">
            {% for role in user.roles %}
                {% if role == 'ROLE_SUPER_ADMIN' %}
                    <span class="badge badge-danger">
                        SUPER AMMINISTRATORE
                    </span>
                {% elseif role == 'ROLE_ADMIN' %}
                    <span class="badge badge-warning">
                        AMMINISTRATORE
                    </span>
                    {% elseif role == 'ROLE_USER' %}
                    <span class="badge badge-info">
                        UTENTE
                    </span>
                {% else %}
                    <span class="badge badge-primary">
                        {{ role|replace({'ROLE_':''}) }}
                    </span>
                {% endif %}
            {% endfor %}
        </td>
        <td class="text-center">
            {{ user.lastLogin|date("d-m-Y H:i:s") }}
        </td>
        <td style="width: 255px;">
            {% if user.id == app.user.id %}
                <a href="" id="delete" class="btn btn-danger btn-sm float-right mr-1" data-user-id="{{ user.id }}">
                    <span class="mdi mdi-delete"></span>
                </a>
                <a href="{{ url('impostazioni_utenti_modifica', {'id':user.id}) }}" class="btn btn-warning btn-sm float-right mr-1">
                    <span class="mdi mdi-table-edit"></span>
                </a>
            {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                <a href="" id="delete" class="btn btn-danger btn-sm float-right mr-1" data-user-id="{{ user.id }}">
                    <span class="mdi mdi-delete"></span>
                </a>
                <a href="{{ url('impostazioni_utenti_modifica', {'id':user.id}) }}" class="btn btn-warning btn-sm float-right mr-1">
                    <span class="mdi mdi-table-edit"></span>
                </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}

<script>
    $("#delete").click(function(e){
        e.preventDefault();
        var uid = $(this).attr("data-user-id");

        console.log('clicked' + uid);

        bootbox.setLocale('it');
        bootbox.confirm("Sei sicuro di voler eliminare questo utente?<br> <strong>Questa azione non può essere annullata</strong>", function(result) {
            url = '{{ url('ajax_settings_users_delete', { 'id': 0 }) }}';
            url = url.replace("0",uid);
            console.log(url);
            if(result){
                $.ajax({
                    url: url,
                    type: 'delete',
                    success: function(result) {
                        console.log('Delete');
                    },
                    error: function(e){
                        console.log(e.responseText);
                    }
                });
            }
        });
    });
</script>