{% extends 'base.html.twig' %}
{% block title %}Impostazioni{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-9">
                    <h3>Impostazioni <small>Annunci</small></h3>
                </div>
                <div class="col-3">
                    <a id="reload-btn" href="" class="float-right btn btn-secondary btn-sm mr-1 pr-2"><i class="mdi mdi-reload"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            ID
                                        </th>
                                        <th class="text-center">
                                            Messaggio
                                        </th>
                                        <th class="text-center">
                                            Scadenza
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in announcements %}
                                        <tr>
                                            <td>
                                                {{ item.id }}
                                            </td>
                                            <td>
                                                {{ item.description }}
                                            </td>
                                            <td>
                                                {{ item.expiration|date("d-m-Y") }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                Nuovo Annuncio
                            </h3>
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/datetimepicker.js') }}"></script>
    <script src="{{ asset('js/datepicker.it.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: "YYYY-MM-DD hh:mm:ss"
            });
        });
        $.extend(true, $.fn.datetimepicker.defaults, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check',
                clear: 'far fa-trash-alt',
                close: 'far fa-times-circle'
            }
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datepicker.min.css') }}">
{% endblock %}