<nav class="sidebar sidebar-offcanvas" id="sidebar" style="-webkit-box-shadow: 2px 0 5px -2px #888;box-shadow: 2px 0 5px -2px #888;" id="navbarSupportedContent">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="{{ asset('images/faces-clipart/pic-1.png') }}" alt="profile image" style="width: 100%">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.username }}
                {% endif %}
            </p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <a href="{{ url('nuovo_preventivo') }}" class="btn btn-success btn-block">Nuovo Preventivo
          <i class="mdi mdi-plus"></i>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url('dashboard') }}">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Preventivi</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{{ url('nuovo_preventivo') }}">Nuovo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('lista_preventivi') }}">Lista</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#nav-clienti" aria-expanded="false" aria-controls="nav-clienti" >
        <i class="menu-icon mdi mdi-human-male"></i>
        <span class="menu-title">Clienti</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="nav-clienti">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{{ url('nuovo_cliente') }}">Nuovo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('clienti') }}">Lista</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#nav-prezzi" aria-expanded="false" aria-controls="nav-clienti" >
        <i class="menu-icon mdi mdi-currency-eur"></i>
        <span class="menu-title">Prezzi</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="nav-prezzi">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="">Listino</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#nav-settings" aria-expanded="false" aria-controls="nav-settings">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Impostazioni</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="nav-settings">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{{ url('impostazioni_generali') }}">Generali</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('impostazioni_utenti') }}">Utenti</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>